<%- include('../layouts/header') %>

<div class="page-wrapper">	    
    
    <%- include('../layouts/navbar-2.ejs') %>

<div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-image: url('assets/images/backgrounds/public/assets/images/backgrounds/loginBI.jpg')">
    <div class="container">
        <div class="form-box">
            <div class="form-tab">
                <ul class="nav nav-pills nav-fill" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" id="signin-tab-2" >Sign In</a>
                    </li>
                    
                </ul>
                <div class="tab-content">
                  
							<div class="tab-content">
							    <div class="tab-pane show active" id="signin-2" role="tabpanel" aria-labelledby="signin-tab-2">
									
							    	<form action="/login" method="post" onsubmit="return validateForm()">

										<p class="" id="msg" hidden><%= msg %></p>
										
							    		<div class="form-group">
							    			<label for="singin-email-2">Username or email address *</label>
							    			<input type="text" class="form-control" id="singin-email-2" name="email">
											<p class="error-message text-danger" id="email-error"></p>
							    		</div><!-- End .form-group -->

							    		<div class="form-group">
							    			<label for="singin-password-2">Password *</label>
							    			<input type="password" class="form-control" id="singin-password-2" name="password">
											<p class="error-message text-danger " id="password-error"></p>
							    		</div><!-- End .form-group -->

							    		<div class="form-footer">

							    			<button type="submit" class="btn btn-outline-primary-2" id="login-btn">

			                					<span>LOGIN</span>
			            						<i class="icon-long-arrow-right"></i>
												
			                				</button>

			                				<!-- <div class="custom-control custom-checkbox">
												<input type="checkbox" class="custom-control-input" id="signin-remember-2">
												<label class="custom-control-label" for="signin-remember-2">Remember Me</label>
											</div>End .custom-checkbox -->

											<a href="/forgotPass" class="forgot-link">Forgot Your Password?</a>

							    		</div><!-- End .form-footer -->

							    	</form>

									<div class="text-center pb-1">

										<a href="/register" class="text-success ">Don't have an account?</a>
										
									</div>

							    	<div class="form-choice">

								    	<p class="text-center">or sign in with</p>
								    	<div class="row">
								    		<div class="col-sm-6">
								    			<a href="#" class="btn btn-login btn-g">
								    				<i class="icon-google"></i>
								    				Login With Google
								    			</a>
								    		</div><!-- End .col-6 -->
								    		<div class="col-sm-6">
								    			<a href="#" class="btn btn-login btn-f">
								    				<i class="icon-facebook-f"></i>
								    				Login With Facebook
								    			</a>
								    		</div><!-- End .col-6 -->
								    	</div><!-- End .row -->
							    	</div><!-- End .form-choice -->
							    </div><!-- .End .tab-pane -->
							</div><!-- End .tab-content -->
                    
                </div><!-- End .tab-content -->
            </div><!-- End .form-tab -->
        </div><!-- End .form-box -->
    </div><!-- End .container -->
</div>

<%- include('../layouts/footbar-2') %>

<%- include('../layouts/mobileView.ejs') %>
<!--Connect Mobaile View-->

<!-- Plugins JS File -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/jquery.hoverIntent.min.js"></script>
<script src="assets/js/jquery.waypoints.min.js"></script>
<script src="assets/js/superfish.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<!-- Main JS File -->
<script src="assets/js/main.js"></script>

<script>

    const msg = document.getElementById('msg')

    if(msg.textContent == 'wrong password'){

        Swal.fire({

            icon: "error",
            title: "Oops...",
            text: "Invalid Password!",

        });

    } else if(msg.textContent == 'wrong email'){

        Swal.fire({

            icon: "error",
            title: "Oops...",
            text: "Invalid email!",

        });

    } else if(msg.textContent == 'Login Successfully'){

        Swal.fire({
            
        title: "Login Successfully!",
        text: "You clicked the button!",
        icon: "success"

    }).then(data =>{

        window.location.href = '/'

    })

}

function validateForm() {

var email = document.getElementById("singin-email-2").value;
var password = document.getElementById("singin-password-2").value;
var valid = true;

var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

if (email.trim() === "") {

    document.getElementById("email-error").innerText = "Email field is empty";
    valid = false;

} else if (!emailRegex.test(email)) {

    document.getElementById("email-error").innerText = "Invalid email format";
    valid = false;

} else {

    document.getElementById("email-error").innerText = "";
    // document.getElementById("password-group").style.display = "block";
    // document.getElementById("login-btn").innerText = "CONTINUE";
}

if (password.trim() === "") {

    document.getElementById("password-error").innerText = "Password field is empty";
    valid = false;

} else if (password.length < 5) {

    document.getElementById("password-error").innerText = "Password must be at least 5 characters";
    valid = false;

} else {

    document.getElementById("password-error").innerText = "";
}

return valid;
}

</script>

<%- include('../layouts/footer') %>